---
interface Props {
  t: (key: string) => string;
}

const { t } = Astro.props;

const technologies = [
  {
    id: 'react',
    icon: 'M14.23 12.004a2.236 2.236 0 0 1-2.235 2.236 2.236 2.236 0 0 1-2.236-2.236 2.236 2.236 0 0 1 2.235-2.236 2.236 2.236 0 0 1 2.236 2.236zm2.648-10.69c-1.346 0-3.107.96-4.888 2.622-1.78-1.653-3.542-2.602-4.887-2.602-.41 0-.783.093-1.106.278-1.375.793-1.683 3.264-.973 6.365C1.98 8.917 0 10.42 0 12.004c0 1.59 1.99 3.097 5.043 4.03-.704 3.113-.39 5.588.988 6.38.32.187.69.275 1.102.275 1.345 0 3.107-.96 4.888-2.624 1.78 1.654 3.542 2.603 4.887 2.603.41 0 .783-.09 1.106-.275 1.374-.792 1.683-3.263.973-6.365C22.02 15.096 24 13.59 24 12.004c0-1.59-1.99-3.097-5.043-4.032.704-3.11.39-5.587-.988-6.38-.318-.184-.688-.277-1.092-.278zm-.005 1.09v.006c.225 0 .406.044.558.127.666.382.955 1.835.73 3.704-.054.46-.142.945-.25 1.44-.96-.236-2.006-.417-3.107-.534-.66-.905-1.345-1.727-2.035-2.447 1.592-1.48 3.087-2.292 4.105-2.295zm-9.77.02c1.012 0 2.514.808 4.11 2.28-.686.72-1.37 1.537-2.02 2.442-1.107.117-2.154.298-3.113.538-.112-.49-.195-.964-.254-1.42-.23-1.868.054-3.32.714-3.707.19-.09.4-.127.563-.132zm4.882 3.05c.455.468.91.992 1.36 1.564-.44-.02-.89-.034-1.345-.034-.46 0-.915.01-1.36.034.44-.572.895-1.096 1.345-1.565zM12 8.1c.74 0 1.477.034 2.202.093.406.582.802 1.203 1.183 1.86.372.64.71 1.29 1.018 1.946-.308.655-.646 1.31-1.013 1.95-.38.66-.773 1.288-1.18 1.87-.728.063-1.466.098-2.21.098-.74 0-1.477-.035-2.202-.093-.406-.582-.802-1.204-1.183-1.86-.372-.64-.71-1.29-1.018-1.946.303-.657.646-1.313 1.013-1.954.38-.66.773-1.286 1.18-1.868.728-.064 1.466-.098 2.21-.098zm-3.635.254c-.24.377-.48.763-.704 1.16-.225.39-.435.782-.635 1.174-.265-.656-.49-1.31-.676-1.947.64-.15 1.315-.283 2.015-.386zm7.26 0c.695.103 1.365.23 2.006.387-.18.632-.405 1.282-.66 1.933-.2-.39-.41-.783-.64-1.174-.225-.392-.465-.774-.705-1.146zm3.063.675c.484.15.944.317 1.375.498 1.732.74 2.852 1.708 2.852 2.476-.005.768-1.125 1.74-2.857 2.475-.42.18-.88.342-1.355.493-.28-.958-.646-1.956-1.1-2.98.45-1.017.81-2.01 1.085-2.964zm-13.395.004c.278.96.645 1.957 1.1 2.98-.45 1.017-.812 2.01-1.086 2.964-.484-.15-.944-.318-1.37-.5-1.732-.737-2.852-1.706-2.852-2.474 0-.768 1.12-1.742 2.852-2.476.42-.18.88-.342 1.356-.494zm11.678 4.28c.265.657.49 1.312.676 1.948-.64.157-1.316.29-2.016.39.24-.375.48-.762.705-1.158.225-.39.435-.788.636-1.18zm-9.945.02c.2.392.41.783.64 1.175.23.39.465.772.705 1.143-.695-.102-1.365-.23-2.006-.386.18-.63.406-1.282.66-1.933zM17.92 16.32c.112.493.2.968.254 1.423.23 1.868-.054 3.32-.714 3.708-.147.09-.338.128-.563.128-1.012 0-2.514-.807-4.11-2.28.686-.72 1.37-1.536 2.02-2.44 1.107-.118 2.154-.3 3.113-.54zm-11.83.01c.96.234 2.006.415 3.107.532.66.905 1.345 1.727 2.035 2.446-1.595 1.483-3.092 2.295-4.11 2.295-.22-.005-.406-.05-.553-.132-.666-.38-.955-1.834-.73-3.703.054-.46.142-.944.25-1.438zm4.56.64c.44.02.89.034 1.345.034.46 0 .915-.01 1.36-.034-.44.572-.895 1.095-1.345 1.565-.455-.47-.91-.993-1.36-1.565z',
    color: 'text-blue-400',
    bgColor: 'from-blue-500/20 to-cyan-500/20'
  },
  {
    id: 'astro',
    icon: 'M8.358 20.162c-1.186-1.07-1.532-3.316-1.038-4.944.856 1.026 2.043 1.352 3.272 1.535 1.897.283 3.76.177 5.522-.678-.202.28-.418.547-.645.808-1.032 1.188-2.318 2.074-3.956 2.553-.595.174-1.949.334-3.155-.274z M21.078 7.717c-.694-.947-1.662-1.68-2.863-2.184-1.058-.444-2.16-.623-3.283-.623-3.813 0-6.915 3.036-7.007 6.849-.048 1.97.677 3.767 2.063 5.122 1.386 1.355 3.146 2.066 5.005 2.066 3.813 0 6.915-3.036 7.007-6.849.048-1.97-.677-3.767-2.063-5.122z m-4.061 8.707c-1.859 0-3.569-.711-4.955-2.066-1.386-1.355-2.111-3.152-2.063-5.122.092-3.813 3.194-6.849 7.007-6.849 1.123 0 2.225.179 3.283.623 1.201.504 2.169 1.237 2.863 2.184 1.386 1.355 2.111 3.152 2.063 5.122-.092 3.813-3.194 6.849-7.007 6.849z',
    color: 'text-orange-400',
    bgColor: 'from-orange-500/20 to-red-500/20'
  },
  {
    id: 'nodejs',
    icon: 'M12 1.85c-.27 0-.55.07-.79.2l-7.44 4.3c-.48.28-.77.8-.77 1.36v8.58c0 .56.29 1.08.77 1.36l7.44 4.3c.48.28 1.1.28 1.58 0l7.44-4.3c.48-.28.77-.8.77-1.36V7.71c0-.56-.29-1.08-.77-1.36L12.79 2.05c-.24-.13-.52-.2-.79-.2z',
    color: 'text-green-400',
    bgColor: 'from-green-500/20 to-emerald-500/20'
  },
  {
    id: 'typescript',
    icon: 'M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0H1.125zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361 5.093 5.093 0 0 0-.717-.26 5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416.47.197.892.407 1.266.628.374.222.695.473.963.753.268.279.472.598.614.957.142.359.214.776.214 1.253 0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085 4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164 5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09.249-.06.456-.144.623-.25.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089 2.12 2.12 0 0 0-.537-.5 5.597 5.597 0 0 0-.807-.444 27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405-.45-.553-.676-1.222-.676-2.005 0-.614.123-1.141.369-1.582.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629 7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z',
    color: 'text-blue-500',
    bgColor: 'from-blue-600/20 to-indigo-500/20'
  },
  {
    id: 'tailwind',
    icon: 'M12.001,4.8c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 C13.666,10.618,15.027,12,18.001,12c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C16.337,6.182,14.976,4.8,12.001,4.8z M6.001,12c-3.2,0-5.2,1.6-6,4.8c1.2-1.6,2.6-2.2,4.2-1.8c0.913,0.228,1.565,0.89,2.288,1.624 c1.177,1.194,2.538,2.576,5.512,2.576c3.2,0,5.2-1.6,6-4.8c-1.2,1.6-2.6,2.2-4.2,1.8c-0.913-0.228-1.565-0.89-2.288-1.624 C10.337,13.382,8.976,12,6.001,12z',
    color: 'text-cyan-400',
    bgColor: 'from-cyan-500/20 to-teal-500/20'
  },
  {
    id: 'gsap',
    icon: 'M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm0 2.182c5.405 0 9.818 4.413 9.818 9.818S17.405 21.818 12 21.818 2.182 17.405 2.182 12 6.595 2.182 12 2.182zm0 3.273c-3.618 0-6.545 2.927-6.545 6.545S8.382 18.545 12 18.545 18.545 15.618 18.545 12 15.618 5.455 12 5.455z',
    color: 'text-green-500',
    bgColor: 'from-green-600/20 to-lime-500/20'
  },
  {
    id: 'threejs',
    icon: 'M12 0L1.608 6v12L12 24l10.392-6V6L12 0zm7.177 16.177L12 20.177l-7.177-4V7.823L12 3.823l7.177 4v8.354z',
    color: 'text-purple-400',
    bgColor: 'from-purple-500/20 to-pink-500/20'
  },
  {
    id: 'aws',
    icon: 'M6.913 13.655c0 .598.031.846.093 1.229.062.382.155.814.31 1.291.031.093.031.155 0 .217-.124.217-.876 1.507-1.013 1.724-.062.093-.155.124-.248.031C4.651 17.256 3.82 15.686 3.82 13.38c0-2.883 2.295-4.578 5.147-4.578 1.104 0 2.333.248 3.406.691.248.124.31.279.279.465-.093.59-.279 1.569-.341 1.693-.093.186-.248.217-.465.124-.465-.186-1.291-.372-1.944-.372-1.229 0-1.989.682-1.989 1.851v.403z M16.434 16.93c-.372.031-.876-.031-1.198-.248l-2.364-1.755c-.434-.31-.527-.403-.527-.837V9.615c0-.434.093-.527.527-.837l2.364-1.755c.322-.217.826-.279 1.198-.248.372.031.876.124 1.198.341l2.364 1.755c.434.31.527.403.527.837v4.475c0 .434-.093.527-.527.837l-2.364 1.755c-.322.217-.826.31-1.198.341z',
    color: 'text-yellow-400',
    bgColor: 'from-yellow-500/20 to-orange-500/20'
  },
  {
    id: 'docker',
    icon: 'M13.983 11.078h2.119a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.954-5.43h2.118a.186.186 0 00.186-.186V3.574a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.186m0 2.716h2.118a.187.187 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.186m-2.93 0h2.12a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H8.1a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.186m-2.964 0h2.119a.186.186 0 00.185-.186V6.29a.185.185 0 00-.185-.185H5.136a.186.186 0 00-.186.185v1.888c0 .102.084.185.186.186m5.893 2.715h2.118a.186.186 0 00.186-.185V9.006a.186.186 0 00-.186-.186h-2.118a.185.185 0 00-.185.185v1.888c0 .102.082.185.185.185m-2.93 0h2.12a.185.185 0 00.185-.185V9.006a.185.185 0 00-.185-.186H8.1a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.185m-2.964 0h2.119a.185.185 0 00.185-.185V9.006a.185.185 0 00-.185-.186H5.136a.186.186 0 00-.186.186v1.887c0 .102.084.185.186.185m10.344-2.715h2.119a.186.186 0 00.186-.186V6.29a.186.186 0 00-.186-.185h-2.119a.185.185 0 00-.185.185v1.888c0 .102.083.185.185.186',
    color: 'text-blue-600',
    bgColor: 'from-blue-500/20 to-sky-500/20'
  },
  {
    id: 'postgresql',
    icon: 'M23.111 5.994c-.797-2.013-2.333-3.533-4.086-4.043-.855-.248-1.747-.294-2.653-.137-.905.157-1.794.479-2.643.955a11.03 11.03 0 0 0-2.373 1.604 9.644 9.644 0 0 0-1.844 2.171c-.462.798-.785 1.66-.954 2.55-.169.89-.183 1.803-.04 2.698.143.896.436 1.762.865 2.567.429.806.994 1.544 1.674 2.185.68.642 1.468 1.182 2.334 1.602.866.42 1.799.718 2.766.883.968.165 1.963.198 2.949.097.986-.1 1.955-.336 2.868-.7.914-.364 1.763-.854 2.519-1.451.756-.598 1.412-1.298 1.944-2.077.532-.778.935-1.628 1.196-2.52.26-.892.376-1.817.344-2.743-.032-.926-.196-1.845-.524-2.722z',
    color: 'text-indigo-400',
    bgColor: 'from-indigo-500/20 to-blue-500/20'
  },
  {
    id: 'mongodb',
    icon: 'M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115-.28-.394-.53-.954-.735-1.44-.036.495-.055.685-.523 1.184-.723.566-4.438 3.682-4.74 10.02-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0111.91 24h.481c.114-1.032.284-2.056.51-3.07.417-.296.604-.463.85-.693a11.342 11.342 0 003.639-8.464c.01-.814-.103-1.662-.197-2.218z',
    color: 'text-green-600',
    bgColor: 'from-green-500/20 to-emerald-500/20'
  },
  {
    id: 'python',
    icon: 'M14.25.18l.9.2.73.26.59.3.45.32.34.34.25.34.16.33.1.3.04.26.02.2-.01.13V8.5l-.05.63-.13.55-.21.46-.26.38-.3.31-.33.25-.35.19-.35.14-.33.1-.3.07-.26.04-.21.02H8.77l-.69.05-.59.14-.5.22-.41.27-.33.32-.27.35-.2.36-.15.37-.1.35-.07.32-.04.27-.02.21v3.06H3.17l-.21-.03-.28-.07-.32-.12-.35-.18-.36-.26-.36-.36-.35-.46-.32-.59-.28-.73-.21-.88-.14-1.05-.05-1.23.06-1.22.16-1.04.24-.87.32-.71.36-.57.4-.44.42-.33.42-.24.4-.16.36-.1.32-.05.24-.01h.16l.06.01h8.16v-.83H6.18l-.01-2.75-.02-.37.05-.34.11-.31.17-.28.25-.26.31-.23.38-.2.44-.18.51-.15.58-.12.64-.1.71-.06.77-.04.84-.02 1.27.05zm-6.3 1.98l-.23.33-.08.41.08.41.23.34.33.22.41.09.41-.09.33-.22.23-.34.08-.41-.08-.41-.23-.33-.33-.22-.41-.09-.41.09-.33.22zM21.1 6.11l.28.06.32.12.35.18.36.27.36.35.35.47.32.59.28.73.21.88.14 1.04.05 1.23-.06 1.23-.16 1.04-.24.86-.32.71-.36.57-.4.45-.42.33-.42.24-.4.16-.36.09-.32.05-.24.02-.16-.01h-8.22v.82h5.84l.01 2.76.02.36-.05.34-.11.31-.17.29-.25.25-.31.24-.38.2-.44.17-.51.15-.58.13-.64.09-.71.07-.77.04-.84.01-1.27-.04-1.07-.14-.9-.2-.73-.25-.59-.3-.45-.33-.34-.34-.25-.34-.16-.33-.1-.3-.04-.25-.02-.2.01-.13v-5.34l.05-.64.13-.54.21-.46.26-.38.3-.32.33-.24.35-.2.35-.14.33-.1.3-.06.26-.04.21-.02.13-.01h5.84l.69-.05.59-.14.5-.21.41-.28.33-.32.27-.35.2-.36.15-.36.1-.35.07-.32.04-.28.02-.21V6.07h2.09l.14.01zm-6.47 14.25l-.23.33-.08.41.08.41.23.33.33.23.41.08.41-.08.33-.23.23-.33.08-.41-.08-.41-.23-.33-.33-.23-.41-.08-.41.08-.33.23z',
    color: 'text-yellow-500',
    bgColor: 'from-yellow-600/20 to-blue-500/20'
  }
];
---

<section 
  id="technologies" 
  class="relative py-20 bg-primary overflow-hidden"
  data-technologies-section
>
  <!-- Background hexagonal elements -->
  <div class="absolute inset-0 overflow-hidden pointer-events-none opacity-5">
    <div class="absolute top-10 left-20 w-32 h-32 text-accent">
      <svg viewBox="0 0 100 100" class="w-full h-full fill-current">
        <polygon points="50,2 86,25 86,75 50,98 14,75 14,25" />
      </svg>
    </div>
    <div class="absolute bottom-20 right-10 w-24 h-24 text-accent">
      <svg viewBox="0 0 100 100" class="w-full h-full fill-current">
        <polygon points="50,2 86,25 86,75 50,98 14,75 14,25" />
      </svg>
    </div>
    <div class="absolute top-1/2 left-1/3 w-16 h-16 text-accent">
      <svg viewBox="0 0 100 100" class="w-full h-full fill-current">
        <polygon points="50,2 86,25 86,75 50,98 14,75 14,25" />
      </svg>
    </div>
  </div>

  <!-- Container -->
  <div class="relative z-10 max-w-7xl mx-auto px-6">
    <!-- Header -->
    <div class="text-center mb-16">
      <h2 
        class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-6"
        data-tech-title
      >
        {t("technologies.title")}
      </h2>
      <p 
        class="text-lg md:text-xl text-gray-300 max-w-3xl mx-auto"
        data-tech-subtitle
      >
        {t("technologies.subtitle")}
      </p>
    </div>

    <!-- Technologies Grid -->
    <div 
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-8 md:gap-12"
      data-tech-grid
    >
      {technologies.map((tech, index) => (
        <div 
          class="tech-item group relative flex flex-col items-center"
          data-tech-item
          data-tech-index={index}
        >
          <!-- Hexagonal container -->
          <div class="relative mb-4">
            <!-- Background hexagon with gradient -->
            <div class={`
              absolute inset-0 w-20 h-20 md:w-24 md:h-24 
              bg-gradient-to-br ${tech.bgColor} 
              rounded-xl opacity-50 group-hover:opacity-80 
              transition-all duration-500 group-hover:scale-110
              group-hover:rotate-6
            `}></div>
            
            <!-- Hexagonal SVG border -->
            <div class="relative w-20 h-20 md:w-24 md:h-24 flex items-center justify-center">
              <svg 
                viewBox="0 0 100 100" 
                class="absolute inset-0 w-full h-full text-accent opacity-30 group-hover:opacity-100 transition-opacity duration-500"
              >
                <polygon 
                  points="50,5 85,25 85,75 50,95 15,75 15,25" 
                  fill="none" 
                  stroke="currentColor" 
                  stroke-width="2"
                />
              </svg>
              
              <!-- Technology icon -->
              <div class={`
                relative z-10 w-10 h-10 md:w-12 md:h-12 ${tech.color}
                group-hover:scale-110 transition-transform duration-300
                filter group-hover:drop-shadow-lg
              `}>
                <svg 
                  viewBox="0 0 24 24" 
                  class="w-full h-full fill-current"
                  aria-label={t(`technologies.${tech.id}.name`)}
                >
                  <path d={tech.icon} />
                </svg>
              </div>
            </div>
          </div>

          <!-- Technology name -->
          <h3 class="text-sm md:text-base font-semibold text-white mb-2 text-center group-hover:text-accent transition-colors duration-300">
            {t(`technologies.${tech.id}.name`)}
          </h3>

          <!-- Technology description -->
          <p class="text-xs md:text-sm text-gray-400 text-center leading-relaxed group-hover:text-gray-300 transition-colors duration-300 max-w-32">
            {t(`technologies.${tech.id}.description`)}
          </p>

          <!-- Hover glow effect -->
          <div class={`
            absolute inset-0 rounded-xl opacity-0 group-hover:opacity-20 
            transition-opacity duration-500 pointer-events-none
            bg-gradient-to-br ${tech.bgColor}
            blur-xl scale-110
          `}></div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  /* Tech item initial state for animation */
  .tech-item {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  /* Pulsing glow animation */
  @keyframes pulse-glow {
    0%, 100% { 
      box-shadow: 0 0 20px rgba(139, 197, 63, 0.3);
      transform: scale(1);
    }
    50% { 
      box-shadow: 0 0 30px rgba(139, 197, 63, 0.5);
      transform: scale(1.05);
    }
  }

  .tech-item:hover .relative {
    animation: pulse-glow 2s infinite;
  }
</style>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  document.addEventListener('DOMContentLoaded', () => {
    // Header animations
    gsap.fromTo('[data-tech-title]', 
      { 
        opacity: 0, 
        y: 50,
        scale: 0.9 
      },
      { 
        opacity: 1, 
        y: 0,
        scale: 1,
        duration: 1.2, 
        ease: 'power3.out',
        scrollTrigger: {
          trigger: '#technologies',
          start: 'top 80%',
          end: 'top 20%',
          toggleActions: 'play none none reverse'
        }
      }
    );

    gsap.fromTo('[data-tech-subtitle]', 
      { 
        opacity: 0, 
        y: 30 
      },
      { 
        opacity: 1, 
        y: 0,
        duration: 1,
        delay: 0.3,
        ease: 'power2.out',
        scrollTrigger: {
          trigger: '#technologies',
          start: 'top 80%',
          end: 'top 20%',
          toggleActions: 'play none none reverse'
        }
      }
    );

    // Technology items staggered animation
    gsap.fromTo('[data-tech-item]', 
      {
        opacity: 0,
        y: 30,
        scale: 0.9,
        rotationY: 20
      },
      {
        opacity: 1,
        y: 0,
        scale: 1,
        rotationY: 0,
        duration: 0.8,
        stagger: {
          amount: 1.2,
          from: "start",
          ease: "power2.out"
        },
        ease: 'back.out(1.7)',
        scrollTrigger: {
          trigger: '[data-tech-grid]',
          start: 'top 85%',
          end: 'bottom 15%',
          toggleActions: 'play none none reverse'
        }
      }
    );

    // Individual hover animations
    document.querySelectorAll('[data-tech-item]').forEach((item) => {
      const hexagon = item.querySelector('svg');
      const icon = item.querySelector('.relative.z-10');
      
      item.addEventListener('mouseenter', () => {
        gsap.to(hexagon, {
          rotationZ: 180,
          scale: 1.1,
          duration: 0.6,
          ease: 'power2.out'
        });
        
        gsap.to(icon, {
          rotationY: 360,
          scale: 1.2,
          duration: 0.8,
          ease: 'power2.out'
        });
      });

      item.addEventListener('mouseleave', () => {
        gsap.to(hexagon, {
          rotationZ: 0,
          scale: 1,
          duration: 0.6,
          ease: 'power2.out'
        });
        
        gsap.to(icon, {
          rotationY: 0,
          scale: 1,
          duration: 0.8,
          ease: 'power2.out'
        });
      });
    });

    // Floating background hexagons animation
    gsap.to('#technologies .absolute.top-10', {
      rotationZ: 360,
      duration: 20,
      repeat: -1,
      ease: 'none'
    });

    gsap.to('#technologies .absolute.bottom-20', {
      rotationZ: -360,
      duration: 25,
      repeat: -1,
      ease: 'none'
    });

    gsap.to('#technologies .absolute.top-1\\/2', {
      rotationZ: 360,
      duration: 15,
      repeat: -1,
      ease: 'none'
    });
  });
</script> 